.atom
.CFUserTextEncoding
.Trash
*.padl
.DS_Store
.account
.anyconnect
.bash_history
.cache
.cisco
.config
.cups
.electron
.fortify
.gem
.lesshst
.local
.nvm
.npm
.node-gyp
.node_repl_history
.oracle_jre_usage
.rediscli_history
.rnd
.subversion
.v8flags*
.ssh
.wine
.zhistory
Applications
Desktop
Development
Documents
Downloads
Fusion*
Library
Movies
Music
Pictures
Public
fonts
